{% extends 'base.html.twig' %}

{% block title %} Roller Blade | Profil {% endblock %}



{% block body %}

    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Votre espace personnel</h1>

    </div>


    <div class="container well span6 conteneur-profil">
        <div class="row">
            <h2>Informations du client</h2>
        </div>
    </div>


    <div class="container well span6 conteneur-profil">
        <div class="row row-conteneur">

            <div class="col-md-4">
                <h5 class="card-title"><b>Nom du client : </b>{{ app.user.name }} {{ app.user.firstname }}</h5>
                <h5 class="card-title"><b>ID client : </b>{{ app.user.id }}</h5>
                <h5 class="card-title"><b>Identifiant : </b>{{ app.user.email }}</h5>
                <h5 class="card-title"><b>Mot de passe : </b>**********</h5>
                <h5 class="card-title"><b>Adresse complète : </b>{{ app.user.address }}</h5>
                <h5 class="card-title"><b>Coordonnée téléphonique : </b>{{ app.user.phone }}</h5>
            </div>


            <div class="col-md-2">
            <a href="{{ path('user_edit') }}"><i class="fas fa-edit"></i></a>
            </div>

        </div>

    </div>

{% endblock %}